<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container-head">
        <div id="branding">
          <h1><%= link_to "VCG", root_path, { style:'margin: 0; font-size: 40px;' } %></h1>
        </div>
        <nav>
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Gallery", galleries_path %></li>
            <li><%= link_to "Contact", contacts_path %></li>
          </ul>
        </nav>
      </div>
    </header>

    <%= yield %>

    <footer>
      <p>Copyright © 2018 Versatile Contracting Group</p>
    </footer>
  </body>
</html>
